<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Practice_10.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Practice_10.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="setting1" value="something"/>
</appSettings>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ExchangeRatesSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ExchangeRatesSoap1" />
                <binding name="BasicHttpBinding_IOurFirstWebService" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ExchangeRatesSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://old.lb.lt/webservices/ExchangeRates/ExchangeRates.asmx"
                binding="basicHttpBinding" bindingConfiguration="ExchangeRatesSoap"
                contract="LB.ExchangeRatesSoap" name="ExchangeRatesSoap" />
            <endpoint address="https://old.lb.lt/webservices/ExchangeRates/ExchangeRates.asmx"
                binding="customBinding" bindingConfiguration="ExchangeRatesSoap12"
                contract="LB.ExchangeRatesSoap" name="ExchangeRatesSoap12" />
            <endpoint address="http://localhost:53163/OurFirstWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOurFirstWebService"
                contract="HelloWS.IOurFirstWebService" name="BasicHttpBinding_IOurFirstWebService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Practice_10.Properties.Settings>
            <setting name="SettingM2User" serializeAs="String">
                <value />
            </setting>
        </Practice_10.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Practice_10.Properties.Settings>
            <setting name="SettingM2App" serializeAs="String">
                <value />
            </setting>
        </Practice_10.Properties.Settings>
    </applicationSettings>
</configuration>